<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CryptoTracker</title>
        <link rel="stylesheet" href="styles/output.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body class="bg-gray-100 dark:bg-gray-900">
    <main>
        <section>
            <div class="flex justify-center items-center my-6  h-full p-6">
                <div class="grid lg:h-[700px] lg:w-[900px] h-[800px] w-[700px] grid-cols-2 lg:grid-cols-3 lg:grid-rows-3grid-rows-5 gap-4 lg:ml-[-50px]">
                    
                    <div class="flex h-full lg:w-52 w-full rounded-xl bg-white dark:bg-gray-800 dark:text-white shadow-xl dark:shadow-black/30 lg:row-span-3 lg:col-span-1 col-span-2 lg:p-6 p-2 pl-4 md:pt-6 pt-3 lg:justify-self-end flex-row lg:flex-col lg:gap-2 gap-1 flex-wrap">
                        <h2 class="font-inter  lg:text-2xl text-xl text-gray-900 lg:text-center lg:mb-4 mb-1 w-full lg:ml-0 ml-3 dark:text-white">Coin list</h2>
                        <div class="flex gap-3 rounded-md dark:hover:bg-gray-700 hover:bg-gray-200 hover:shadow  dark:shadow-black/30 pl-4  p-2 btn crypto h-[44px] lg:scale-100 scale-90" id="bitcoin"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-currency-bitcoin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 6h8a3 3 0 0 1 0 6a3 3 0 0 1 0 6h-8" /><path d="M8 6l0 12" /><path d="M8 12l6 0" /><path d="M9 3l0 3" /><path d="M13 3l0 3" /><path d="M9 18l0 3" /><path d="M13 18l0 3" /></svg><h3 class="text-gray-900 text-xl dark:text-white" >Bitcoin</h3></div>

                        <div class="flex gap-4 rounded-md dark:hover:bg-gray-700 hover:bg-gray-200 hover:shadow dark:shadow-black/30 pl-4  p-2 btn crypto h-[44px] lg:scale-100 scale-90" id="ethereum"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-currency-ethereum"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 12l6 -9l6 9l-6 9z" /><path d="M6 12l6 -3l6 3l-6 2z" /></svg><h3 class="text-gray-900 text-xl  dark:text-white" >Ethereum</h3></div>

                        <div class="flex gap-4 rounded-md dark:hover:bg-gray-700 hover:bg-gray-200 hover:shadow dark:shadow-black/30 pl-4  p-2 btn crypto h-[44px] lg:scale-100 scale-90" id="solana"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-currency-solana"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 18h12l4 -4h-12z" /><path d="M8 14l-4 -4h12l4 4" /><path d="M16 10l4 -4h-12l-4 4" /></svg><h3 class="text-gray-900 text-xl dark:text-white" >Solana</h3></div>
                    </div>
                    
                    
                    <% if(locals.content !== undefined) {%>

                        <div class="h-full w-full rounded-xl bg-white shadow-xl dark:shadow-black/30 md:p-6 p-4 dark:bg-gray-800 dark:text-white"><h2 class="text-gray-600 lg:text-xl text-center text-lg dark:text-white">Current price</h2><h3 class="text-gray-900 md:text-4xl text-2xl text-center mt-5 dark:text-white"><%=locals.content.current_price.toLocaleString('en-US', {
                            style: 'currency',
                            currency: 'USD',
                          }) %></h3></div>
                    

                        <div class="h-full w-full rounded-xl bg-white shadow-xl dark:shadow-black/30 md:p-6 p-4 justify-center dark:bg-gray-800 dark:text-white"><h2 class="text-gray-600 lg:text-xl text-center text-lg dark:text-white">Change - 24h</h2><div class="flex"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#EF4444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-right-icon lucide-arrow-down-right mt-4 sm:block hidden justify-self-center w-20"><path d="m7 7 10 10"/><path d="M17 7v10H7"/></svg><h3 class="text-gray-900 md:text-4xl text-3xl text-center  mt-5  w-full  dark:text-white"><%=locals.content.price_change_24h.toLocaleString('en-US', {
                            style: 'currency',
                            currency: 'USD',
                          }) %></h3></div></div>

                        <div class="h-full w-full rounded-xl bg-white shadow-xl dark:shadow-black/30 row-span-2 col-span-2 pt-6 p-1 dark:bg-gray-800 dark:text-white justify-center"><canvas id="myChart" class="w-full h-full"></canvas></div>

                        <div class="h-full lg:w-[513.328px] w-full rounded-xl bg-white shadow-xl dark:shadow-black/30 justify-self-end p-6 lg:col-span-2 col-span-2 dark:bg-gray-800 dark:text-white"><h2 class="text-center text-gray-600 lg:text-2xl text-xl dark:text-white">Market cap</h2><h3 class="text-gray-900 lg:text-4xl text-2xl text-center mt-5 dark:text-white"><%=locals.content.market_cap.toLocaleString('en-US', {
                            style: 'currency',
                            currency: 'USD',
                          }) %></h3>
                        </div>

                        <div class="h-full w-full rounded-xl bg-white shadow-xl dark:shadow-black/30 p-6 col-span-2 lg:col-span-1 dark:bg-gray-800 dark:text-white"><h2 class="text-center text-gray-600 text-xl dark:text-white">All time high</h2><h3 class="text-gray-900 text-3xl text-center mt-5 dark:text-white"><%=locals.content.ath.toLocaleString('en-US', {
                            style: 'currency',
                            currency: 'USD',
                          }) %></h3></div>
                    <% } else { %>
                        <div class="h-full w-full rounded-xl bg-white shadow-xl dark:shadow-black/30 md:p-6 p-4 dark:bg-gray-800 dark:text-white"><h2 class="text-gray-600 text-xl text-center dark:text-white">Current price</h2><h3 class="text-gray-900 md:text-4xl text-3xl text-center mt-5 dark:text-white"></h3></div>
                    

                        <div class="h-full w-full rounded-xl bg-white shadow-xl dark:shadow-black/30 md:p-6 p-4 dark:bg-gray-800 dark:text-white"><h2 class="text-gray-600 text-xl text-center  dark:text-white ">Change - 24h</h2><div class="flex"><h3 class="text-gray-900 md:text-4xl text-3xl md:text-center text-start mt-5 ml-3 dark:text-white"></h3></div></div>

                        <div class="h-full w-full rounded-xl bg-white shadow-xl dark:shadow-black/30 row-span-2 col-span-2 pt-6 p-1 dark:bg-gray-800 dark:text-white"><canvas id="myChart"></canvas></div>

                        <div class="h-full lg:w-[513.328px] w-full rounded-xl bg-white shadow-xl dark:shadow-black/30 justify-self-end p-6 lg:col-span-2 col-span-1 dark:bg-gray-800 dark:text-white"><h2 class="text-center text-gray-600 text-xl  dark:text-white">Market cap</h2><h3 class="text-gray-900 text-2xl text-center mt-5 dark:text-white"></h3></div>

                        <div class="h-full w-full rounded-xl bg-white shadow-xl dark:shadow-black/30 dark:bg-gray-800 dark:text-white"></div>
                    <% } %>
                </div>
            </div>
        </section>
    </main>

<%- include("./propeties/footer.ejs") %>
        
